<footer class="ba-footer">
	<div class="row column">
		<div class="medium-6 small-12 column">
			<p>©2014 tulusdriyo. All Rights Reserved.</p>
		</div>
		<div class="medium-6 small-12 column text-right">
			<div class="ba-footer__socials">
				<a href="#"><svg ><use xlink:href="#icon-facebook"></use></svg>
				</a>
				<a href="#"><svg><use xlink:href="#icon-twitter"></use></svg>
				</a>
				<a href="#"><svg><use xlink:href="#icon-google-plus"></use></svg>
				</a>
				<a href="#"><svg><use xlink:href="#icon-linkedin"></use></svg></a>
			</div>
		</div>
	</div>
</footer>
